body {
    background:#FF00FF;
}

.header {
    background:#00FFFF;
}

#main42 {
    background:#FFFF00;
}


.kanbantitel {
    color: white;
    font-size: 30px;
}



.addItem {
    cursor: pointer;
}




.addList {
    cursor: pointer;
    width: 10%; 
    position: fixed;
    bottom: 2%;
    right:2%;
    -webkit-mask-image:-webkit-linear-gradient(top, rgba(5, 5, 5,1), rgba(5, 5, 5,1));
}